---
name: Trivy Code Scanning

on:
  schedule:
    - cron: "0 10 * * *"
  workflow_dispatch:

permissions: read-all

jobs:
  trivy-scan:
    name: Trivy Vulnerability Scan
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Run Trivy Scan Action
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          severity: "CRITICAL,HIGH"
          ignore-unfixed: true
          scan-type: "fs"
          format: "sarif"
          output: "trivy-results.sarif"
        env:
          TRIVY_SKIP_DB_UPDATE: true
          TRIVY_SKIP_JAVA_DB_UPDATE: true

      - name: Upload Trivy Report to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4
        with:
          sarif_file: trivy-results.sarif
